<app-home></app-home>

<h3 class="mt-5 mb-3">Reservation List</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Guest</th>
      <th>Email</th>
      <th>Room n.</th>
      <th>Check-in</th>
      <th>Check-out</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{reservation.nomeOspite}}</td>
      <td>{{reservation.emailOspite}}</td>
      <td>{{reservation.numeroStanza}}</td>
      <td>{{reservation.dataCheckIn}}</td>
      <td>{{reservation.dataCheckOut}}</td>
      <td>
        <button class="btn btn-danger mx-1" (click)="deleteReservation(reservation.id)">Delete</button>
        <button class="btn btn-secondary mx-1" [routerLink]="['/edit', reservation.id]">Edit</button>
      </td>
    </tr>

  </tbody>
</table>

<ul *ngIf="reservations.length; else noReservation">
</ul>

<ng-template #noReservation>
  <p>No serservation available</p>
</ng-template>
